

body .container {
	padding-top: 60px;
	

}

body {
	padding-bottom: 70px;
	background-color: rgba(58, 58, 58, 0.9);
}

.jumbotron {
	background-image: url("https://rodslifeblog.files.wordpress.com/2017/01/work-731198_1920.jpg?w=1200");
	max-width: 1200px;
	
}
.vertical-center {
	margin-left: auto;
  margin-right: auto;
	
  
}
.empty-container {
	height: 200px;
}
.opaque {
	background-color: rgba(63, 46, 74, 0.6);
	padding: 40px;
	font-color: black;
	color: rgb(114, 208, 20);
}
#header {
	font-size: 360%;
	font-family: 'Open Sans', sans-serif;
}
.portfolio {
	background-color: #fff;
	padding: 30px;
	background-color: rgba(26, 49, 126, 0.4);
	color: #fff;
}
.footer {
	
}
/*
body {
	background-color: #303F9F;
	color: white;
	text-decoration: none;
}

.navbar {
	background-color: #3F51B5;
	margin-bottom: 0;
	border-radius: 0;
	text-decoration: none;
	
}




.accent-color {
	color: #CDDC39;
}


#tabs {
	    color: white;
	text-decoration: none; 
}
footer {
	background-color: #3F51B5;
}
*/

