body {
	
	background-color: rgba(58, 58, 58, 0.9);
}

footer {
	height: 40px;
	padding: 10px;

}

body .container {
	padding-top: 60px;
	
}

.jumbotron {
	background-image: url("https://pace.oregonstate.edu/sites/default/files/styles/course_banner_large/public/images/course/cover/pace-oregon-state-html-css-coding-web-design.jpg?itok=tNEZncCn");
	/*max-width: 1600px;*/
	height: 800px;
	margin-bottom: 0px;
	background-attachment: fixed

}
.vertical-center {
	margin-left: auto;
  	margin-right: auto;
	
  
}
.empty-container {
	height: 200px;
}
.opaque {
	background-color: rgba(63, 46, 74, 0.85);
	padding: 40px;
	font-color: black;
	color: rgb(114, 208, 20);
}
#header {
	font-size: 360%;
	font-family: 'Open Sans', sans-serif;
}

.brand {
	background-color: green;
	font-family: 'Open Sans', sans-serif;
	height: 50px;
	width: 108px;

}
.portfolio {
	background-color: #fff;
	padding: 30px;
	background-color: rgba(26, 49, 126, 0.4);
	color: #fff;
}

.hr-line { 
	display:block;
	width:25%; 
	float:left; 
	height: 3px;
}
.line {
    width:100%;
    
}
.color-1{
    background:green;
}
.color-2{
    background:orange;
}
.color-3{
    background:purple;
}
.color-4{
    background:red;
}

.navbar > .container-fluid .navbar-brand {
	margin-left: 0px;

}
.navbar-default {
	background-color: rgba(63, 46, 74, 1)
}
/*
body {
	background-color: #303F9F;
	color: white;
	text-decoration: none;
}

.navbar {
	background-color: #3F51B5;
	margin-bottom: 0;
	border-radius: 0;
	text-decoration: none;
	
}




.accent-color {
	color: #CDDC39;
}


#tabs {
	    color: white;
	text-decoration: none; 
}
footer {
	background-color: #3F51B5;
}
*/

